html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
}  
html {
    display: block;
    color: -internal-root-color;
}
body {
    width: 100%;
    height: 100vh;
    background: url(assets/freedom.jpg) no-repeat center;
    background-size: cover;
    color: #333;
}


body {
    display: block;
    margin: 8px;
}

html {
    color: -internal-root-color;
}
.wrapper {
    padding-top: 4rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

div {
    display: block;
}


html {
    color: -internal-root-color;
  
.author {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    font-style: italic;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
